.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# UPLOAD
# Upload folders – ignore files, keep folders
upload/tkqkegiatan/*
!upload/tkqkegiatan/.gitkeep

upload/yramarsip/*
!upload/yramarsip/.gitkeep

upload/yramkegiatan/*
!upload/yramkegiatan/.gitkeep

upload/yramtugas/*
!upload/yramtugas/.gitkeep

# Optional: ignore general uploads
# upload/*
# !upload/.gitkeep
